@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    max-width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    max-width: 307px;
    min-height: 500px;
    background-color: #e28625;
    padding: 48px 47.5px 48px 48px;
}

h2 {
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 700;
    font-family: "Big Shoulders Display";
    margin-top: 35px;
    margin-bottom: 25px;

}

p {
    color: #f2f2f2;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 83px;
}

button {

    border-radius: 25px;
    background-color: #f2f2f2;
    color: #e28625;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    border: none;
    padding: 12px 31.5px;
    border: 1px solid #fff;
}

.box-2 {
    background-color: #006971
}

.box-2>button {
    color: #006971;
}

.box-3 {
    background-color: #004140;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box-3>button {
    color: #004140;
}

.box-1 {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.box-1>button:hover {
    color: #fff;
    background-color: #e28625;

}

.box-2>button:hover {
    color: #fff;
    background-color: #006971;

}

.box-3>button:hover {
    color: #fff;
    background-color: #004140;

}